body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

nav {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: dimgray;
}

figcaption {
  text-align: center;
  font-size: 0.5em;
}

#featured-property p {
  width: 880px;
  display: block;
  margin: 20px auto;
}

#details {
  text-align: center;
  display: block;
  margin: auto;
  width: 900px;
  height: 150px;
}

.footer {
  float: left;
  width: 25%;
  text-align: center;
  background-color: dimgray;
}